body {
    background-color: #2b2B2B;
}

header {
    background-color: white;
}

.parent {

    width: 200px;
    background-color: blue;
}

.child {

    padding-top: 100%;
    background-color: yellow;
    
}