:root {
    --box-color: #0ff7;
    --box-color-reflexion: rgba(0, 255, 255, 0.479);
    --rotateSpeed: 30s;
    --bounceSpeed: 2s;
}

@keyframes sceneRotate {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes ballBounce {
    0%, 100% {
        bottom: .5em;
        box-shadow: 
        0 50px 50px -50px rgba(255, 255, 255, 0.1) inset,
        0 -30px 30px 10px rgba(26, 83, 100, 0.9) inset;
    }
    50% {
        bottom: 2em;
        box-shadow: 
        0 50px 50px -50px rgba(255, 255, 255, 0.9) inset,
        0 -50px 50px 10px rgba(26, 83, 100, 0.2) inset;
        animation-timing-function: ease-in;
    }

}

@keyframes ballShadow {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.5);
        opacity: .5;
        animation-timing-function: ease-in;
    }
}

@keyframes cubeHeight {
    0%, 100% {
        height: 1.5em;
        
    }
    10%, 90% {
        height: 2em;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    perspective: 10em;
    overflow: hidden;
    perspective-origin: 50% calc(50% - 2em);
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;   
}



.ball {
    transform-style: preserve-3d;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: lightblue;
    left: -.5em;
    bottom: 1em;
    background-image: radial-gradient(circle at top,rgb(183, 241, 255), 65%, #000);

    box-shadow: 0 -10px 30px 1px rgba(0, 255, 255, 0.500) inset;
    animation: 
        ballBounce var(--bounceSpeed) infinite ease-out,
        sceneRotate var(--rotateSpeed) infinite linear reverse;
}

.ballShadow {

    transform-style: preserve-3d;
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    animation: ballShadow var(--bounceSpeed) infinite linear;
    
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    width: 2em;
    height: 2em;
    left: -1em;
    bottom: -1em;
    animation: cubeHeight var(--bounceSpeed) infinite linear;
}


.left {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    transform: rotateY(270deg) translateZ(1em);
    box-shadow: 0 0 .5em #000a inset;
}

.right {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    transform: rotateY(90deg) translateZ(1em);
    box-shadow: 0 0 .5em #000a inset;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    transform: translateZ(1em);
    box-shadow: 0 0 .5em #000a inset;
}

.back {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    transform: rotateY(180deg) translateZ(1em);
    box-shadow: 0 0 .5em #000a inset;
}

.top {
    transform-style: preserve-3d;
    position:absolute;
    width: 2em;
    height: 2em;
    background: var(--box-color);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 .5em #000a inset;

}

.bottom {
    transform-style: preserve-3d;
    position:absolute;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;
    box-shadow: 0 0 .5em #000 outset;
    transform: translateY(50%) rotateX(270deg);
}

.floor {
    transform-style: preserve-3d;
    width: 15em;
    height: 15em;
    background-image: 
    radial-gradient(#0000, #000 75%),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 100%, 1em 1em;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);
    top: 1em;
}